body {
  font-family: Arial, sans-serif;
  background-color: #0f1a2b;
  margin: 10px;
  padding: 20px;
  color: white;
}

h1 {
  color: black;
  text-align: center;
}

.table-cont {
  max-width: 800px;
  margin: 0 auto;
  background: #d3d3d3;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  border-color: black;
  padding: 10px;
  text-align: left;
  color: black;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.left {
  width: 150px;
  background-color: #d3d3d3;
}

footer {
  text-align: center;
  margin-top: 20px;
  font-size: 0.8em;
  color: #666;
}
.table-center{
    text-align: center;
    color: black;
    background-color: #d3d3d3;
}
.tbl-c{
    text-align: center;
    color: white;
}
.day{
    width: 150px;
    background-color: #d3d3d3;
    font-weight: bold;
}
.p-center{
    text-align: center;
    font-family: Courier New, monospace;
}
.taski{
    color: black;
    background-color: #d3d3d3;
    font-weight: bold;
}